main {
    background-color: mediumaquamarine;
    height: 100vh;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    transform:rotate(-20deg);
  }
    .info{
      transform: rotate(10deg);
      font-style:italic;
      
    }