@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

body  {
  font-family: 'Josefin Sans', sans-serif;
}
main {
  background-color: mediumaquamarine;
  height: 100vh;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  transform:rotate(-20deg);
}
  .info{
    transform: rotate(10deg);
    font-style:italic;
    
  }
  h2 h3 h4 h5{
    font-style:italic;
  }
  


main > div {
  width: 40%;
  margin: auto;
  padding: 0%;
}
